html, body{
	background: linear-gradient(45deg, #E7E7E7, #fff);
}
html{
	position: relative;
	min-height: 100vh;
}
body{
	margin: 0 0 4rem 0;
}

#wrapper{

	margin-top: 3.5rem;
}

#prevData>div{
	box-shadow: 0 0 4px 0 black;
}

#btnNext{
	text-align: center;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 100;
	position: fixed;
	right: 1.5rem;
	bottom: 3rem;
	box-shadow: 0 0 6px 0 black;
	transition: transform 1s;
}
#btnNext:hover{
	transform: scale(1.1);
}

.welcome{
	position: relative;
	background: url("../../img/welcome.jpg");
	height: 60vh;
	margin: 3rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 0 4px black;
}
.welcome2{
	position: relative;
	background: url("../../img/welcome2.jpg");
	height: 60vh;
	margin: 3rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 0 4px black;
}
#carusel{
	text-align: center;
	line-height: 20;
}


article:last-child{
	width: 90vw;
	margin: .5rem auto;

}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3rem;
	background: linear-gradient(45deg, #000, #373737);
	width: 100vw;
	text-align: center;
	line-height: 2;
	color: #fff;
	box-shadow: 0 -2px 4px black;
}