html, body{
	background: linear-gradient(45deg, #E7E7E7, #fff);
}
html{
	position: relative;
	min-height: 100vh;
}
body{
	margin: 0 0 4rem 0;
}
header{
	height: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, #000, #373737);
	color: #fff;
	width: 100vw;
	line-height: 3;
}
.welcome{
	position: relative;
	background: url("../../img/welcome.jpg");
	height: 60vh;
	margin: 3rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 0 4px black;
}
.welcome2{
	position: relative;
	background: url("../../img/welcome2.jpg");
	height: 60vh;
	margin: 3rem auto;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
	box-shadow: 0 0 4px black;
}
#carusel a{
	position: absolute;
	top: 48%;
	left: 40%;
}


article:last-child{
	width: 90vw;
	margin: .5rem auto;

}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3rem;
	background: linear-gradient(45deg, #000, #373737);
	width: 100vw;
	text-align: center;
	line-height: 2;
	color: #fff;
}